.footer {
  margin-top: 1.5em;
  hr {
    opacity: 0.4;
  }
  .footer_container {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 30px;
    text-transform: capitalize;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 1.5em;
    .list {
      list-style: none;
      h5 {
        font-size: 16px;
        color: #2e2e2e;
      }
      li {
        cursor: pointer;
        color: #2e2e2e;
        opacity: 0.9;
      }
    }
  }
  .conclusion {
    font-size: 12px;
    text-align: center;
    color: #2e2e2e;
  }
}
//media
@media (min-width: 500px) {
  .footer {
    .footer_container {
      flex-direction: row;
      justify-content: flex-start;

      .list {
        h5 {
          font-size: 22px;
        }
        li {
          cursor: pointer;
        }
      }

      .about {
        margin-left: 13%;
      }
    }
  }
}

@media (min-width: 600px) {
  .footer {
    .footer_container {
      padding: 1.5em 5%;
      .list {
        h5 {
          font-size: 22px;
        }
        li {
          cursor: pointer;
        }
      }

      .about {
        margin-left: 13%;
      }
    }
  }
}
